.main {
  min-height: 100vh;
  padding: 0 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.full-height {
  min-height: 100vh;
}

.half-height {
  min-height: 50vh;
}
